/* ---------------Box Sizing-----------------  */


html {
    box-sizing: border-box;
  }
  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }

/*  ---------------Reponsive Images-----------------  */

img{
  max-width: 100%;
}

/*  --------------- Utility Classes-----------------  */


.container{
    width: 100vw;
    max-width: 960px;
    margin: 40px auto;
}

body{
    font-family: "Gabarito", sans-serif;
    margin:0px;
}

header.primary{
    background-color: #A4A5A6;
    color: white;
    text-align: center;
    text-shadow: 1px 1px #000000;
    /*padding: 20px 40px;*/
    display: block;
    margin: 0px;
}

header.primary h1{
  margin: 0px;
  padding-bottom: 10px;
}


.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

header.primary h1 a{
    padding: 5px;
    text-decoration:none; 
}

header.primary h2{
    font-size: 200%;
    margin:0px;
    padding-top: 10px;   
}

header.primary nav{
  max-width: 960px;
  margin: 0px;
  text-align: center;
}

header.primary nav ul{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 20px 0px;
  margin: 0px;
}

header.primary nav ul li{
  list-style-type: none;
}

header.primary nav ul li a{
  color: white;
  font-size: 0.9rem;
  text-decoration:none;
  border:1px solid #c0c0c0;
  padding: 7.5px 10px;
  background-color: rgba(0,0,0,.4);
  border-radius: 20px;
  transition: .4s;
}

header.primary nav ul li a:hover{
  background-color:rgba(0, 0, 0, 0.8);
}

#first{
  /*background-image: url(/spacex/assets/img/color_03588c.png);
  background-size:auto;*/
  background-color: #03588C;
  color: black;
  margin: 0px;
}

#first h2{
  margin: 0px;
  padding-top: 10px;
  padding-bottom: 5px;
  font-size: 200%;
}

#first p{
  text-wrap: left;
  font-size: 120%;
  padding-left: 50px;
  padding-bottom:10px;
  margin:0px;
  text-align: left;
}

.exterior{
  float: right;
  padding: 5px 10px 3px 10px;
}

#second{
  /*background-image: url(/spacex/assets/img/spacex_delivery_2.jpg);*/
  /*background-size: contain;*/
  background-color: #03588C;
  padding-top: 0px;
  padding-bottom: 0px;
  color: black;
  margin: 0px;
}

#second h2{
  margin: 0px;
  padding-top:10px;
  font-size: 200%;
}

#second h3{
  text-align: center;
  margin: 0px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 150%;
}

#second h4{
  text-align: left;
  padding-left: 10px;
  padding-top: 10px;
  margin: 0px;
  font-size: 130%;
}

#second p{
  text-align: left;
  padding-left: 20px;
  padding-bottom: 10px;
  margin: 0px;
}

/*.second ul{ 
}

.second ul li{
  list-style-type: none; 
}*/

.delivery1{
  text-wrap: left;
  font-size: 120%;
  text-align:left;
  margin: 0px;
  padding-top: 5px;
}

.delivery{
  float: right;
  padding: 0px 10px;
  

}

.versatile{
  padding-top: 5px;
  text-align: left;
  text-wrap: left;
  font-size: 120%;
}




#third{
  /*background-image: url(/spacex/assets/img/spacex_delivery_2.jpg);
  background-size: contain;*/
  background-color: #03588C;
  padding-top: 0px;
  padding-bottom: 0px;
  color: black;
  margin: 0px;
}

#third h2{
  text-align: center;
  margin: 0px;
  padding: 10px 0px;
  font-size: 150%;
}

#third h4{
  text-align: left;
  padding-left: 10px;
  padding-top: 10px;
  margin: 0px;
  font-size: 130%;
}

#third p{
  text-align: left;
  padding-left: 20px;
  padding-bottom: 10px;
  margin: 0px;
}

.partnership{
  float: right;
  height: 100px;
}

.interior{
  float: left;
  padding-right: 10px;
  padding-left: 15px;
  height: 110px;
}

.launch{
  float: right;
  height: 100px;
}

#fourth{
  /*background-image: url(/spacex/assets/img/spacex_delivery_2.jpg);
  background-size: contain;*/
  padding-top: 0px;
  color: black;
  margin: 0px;
}

#fourth h3{
  text-align: center;
  margin: 0px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 150%;
}



/*header.primary nav ul{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 10px 0px;
    
}

header.primary nav ul li{
    list-style-type: none;
    border:1px solid #c0c0c0;
    padding: 7.5px 10px;
    background-color: rgba(255, 252, 252, 0.628);
    border-radius: 20px;
    transition: .4s;
    text-decoration:none;
}

header.primary nav ul li a{
    font-size: 0.9rem;
    text-decoration:none;
    border:1px solid #c0c0c0;
    padding: 7.5px 10px;
    background-color: rgba(0,0,0,.4);
    border-radius: 20px;
    transition: .4s;
}*/

.container h2{
  text-align: center;
  
}

.container p{
  text-align: center;
}

/*.img-right{
  float: right;
  padding: 5px;
  /*border: 1px solid #cccccc;
  margin: 10px 0 10px 20px;
  border-radius: 50px;
}*/

table, th, td{
  border-collapse: collapse;
  border: 2px solid black;
  padding: 1px;
  margin: 0px;
}

.title{
  text-align: center;
}

.questions{
  width: 80vw;
  max-width: 960px;
  margin: 40px auto;
  /*display: flex; 
  justify-content: space-between;*/ 
}

.questions h1{
  border-left: 10px solid red;
  padding: 5px 5px 0px 10px;
  font-size: 250%;
}

.questions h2{
  margin: 0;
  padding: 50px 0px;
}

.question1 {
  display: inline;
}

.answer{
  display: inline;
}

/*section.one h1{
  font-size: 200%;
  padding-left: 20px;
  color: white;
}

section.one ul{
  
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 10x 0px;
  font-size: 125%;
  margin: 0px;
}

section.one ul li{
  list-style-type: none;
  border:1px solid black;
  /*padding: 10px 25px;
  background-color: rgba(255, 252, 252, 0.628);
  transition: .4s;
  color: white;
}

section.two h1{
  float: left;
  bottom: 0;
  font-size: 200%;
  padding-left: 20px;
}

section.two ul{
  float:left;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 10x 0px;
  font-size: 125%;
  margin: 0px;
}

section.two ul li{
  list-style-type: none;
  border:1px solid black;
  padding: 10px 25px;
  background-color: rgba(255, 252, 252, 0.628);
  transition: .4s;
}*/

#section1{
  background-image: url(../img/dragon-exterior-3.jpg);
  background-size:cover;
  padding-top: 100px;
  padding-bottom: 100px;
  color: rgb(183, 183, 183);
  margin: 0px;
  text-align: left;
}

#section1 h1{
  padding-left: 30px;
  font-size: 200%;
}

#section1 nav{
  max-width: 960px;
  margin: 0;
}

#section1 nav ul{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 20px 0;
}

#section1 nav ul li{
  list-style-type: none;
  font-size: 130%;
}

#section1 nav ul li a{
  color: white;
  font-size: 1;
  text-decoration:none;
  border:1px solid #c0c0c0;
  padding: 10px 20px;
  background-color: rgba(0,0,0,.4);
  transition: .4s;
}

#section1 nav ul li a:hover{
  background-color:rgba(0, 0, 0, 0.8);
}
/*-------------------------------------------------*/
#section2{
  background-image: url(../img/spacex_dragon_v2_1.jpg);
  background-size: cover;
  padding-top: 100px;
  padding-bottom: 100px;
  color: rgb(183, 183, 183);
  margin: 0px;
  text-align: left;
}

#section2 h1{
  padding-left: 30px;
  font-size: 200%;
}

#section2 h1 a{
  text-decoration:none;
}

#section2 nav{
  max-width: 960px;
  margin: 0;
}

#section2 nav ul{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 20px 0;
}

#section2 nav ul li{
  list-style-type: none;
  font-size: 130%;
}

#section2 nav ul li a{
  color: white;
  font-size: 1;
  text-decoration:none;
  border:1px solid #c0c0c0;
  padding: 10px 20px;
  background-color: rgba(0,0,0,.4);
  transition: .4s;
}

#section2 nav ul li a:hover{
  background-color:rgba(0, 0, 0, 0.8);
}

/*-------------------------------------------------*/

#section3{
  background-image: url(../img/SpaceX-Dragon-heat-shield-anomoly.jpg);
  background-size: cover;
  padding-top: 100px;
  padding-bottom: 100px;
  color: rgb(183, 183, 183);
  margin: 0px;
  text-align: left;
}

#section3 h1{
  padding-left: 30px;
  font-size: 200%;
}

#section3 h1 a{
  text-decoration:none;
}

#section3 nav{
  max-width: 960px;
  margin: 0;
}

#section3 nav ul{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 20px 0;
}

#section3 nav ul li{
  list-style-type: none;
  font-size: 130%;
}

#section3 nav ul li a{
  color: white;
  font-size: 1;
  text-decoration:none;
  border:1px solid #c0c0c0;
  padding: 10px 20px;
  background-color: rgba(0,0,0,.4);
  transition: .4s;
}

#section3 nav ul li a:hover{
  background-color:rgba(0, 0, 0, 0.8);
}

/*-------------------------------------------------*/

/*#main2 nav{
  max-width: 960px;
  margin: 0;
}

#main2 nav ul{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 20px 0;
}

#main2 nav ul li{
  list-style-type: none;
}

#main2 nav ul li a{
  color: white;
  font-size: 0.9rem;
  text-decoration:none;
  border:1px solid #c0c0c0;
  padding: 7.5px 10px;
  background-color: rgba(0,0,0,.4);
  border-radius: 20px;
  transition: .4s;
}

#main2 nav ul li a:hover{
  background-color:rgba(0, 0, 0, 0.8);
}

#main2{
  background-image: url(/spacex/assets/img/dragon-exterior-2.jpg);
  background-size: contain;
  padding-top: 100px;
  padding-bottom: 100px;
  color: grey;
  margin: 0px;
}*/

@media screen and (max-width:560px){
  header.primary nav ul{
    flex-direction:column;
    gap:25px;
    max-width: 200px;
    margin: 0 auto;
    }
  header.primary nav a{
    display: block;
  }
}

