html {
    box-sizing: border-box;
  }
  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }


body{
    /*background-color: lightblue;*/
    font-family: "Gabarito", sans-serif;
    background-color: #e6eff4;
}